@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

body{
  font-family: 'El Messiri', sans-serif;
}
.App {
  text-align: center;
}
.input{
  max-width: 800px;
  width: 60vw;
  padding: 1rem;
}
.List{
  max-width: 50vw;

}
.MuiListItem-root{
  margin:auto;
}

